.background {
  animation: navbar;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  font-size: 2vw;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.background button {
  animation: navbar;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  border: red;
  font-size: 18px;
  outline: red;
}

.background li {
  color: white;
  padding-right: 15px;
  text-decoration: none;
}

.background li:active {
  font-weight: bold;
}

.background li:hover {
  color: white;
}

button.btn {
  color: white;
  font-weight: bold;
}

@media only screen and (max-width: 1920px) {
  li:first-of-type {
    margin-left: 10vw;
  }
  li {
    font-size: 1.5vw;
    margin-right: 25px;
    text-decoration: none;
  }
  embed {
    width: max-content;
  }
  .hidden-button {
    display: none;
  }
}
@media only screen and (max-width: 1280px) {
  li {
    font-size: 3vw;
  }
  embed {
    width: max-content;
  }
  .hidden-button {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  li:first-of-type {
    margin-left: 2vw;
  }
  li {
    font-size: 5vw;
    margin-right: 0px;
    text-decoration: none;
  }
  .hidden {
    display: none;
  }
  .justify-between {
    justify-content: space-between;
  }
  .hidden-button {
    display: block;
  }
}

@keyframes navbar {
  0% {
    background-color: white;
  }
  100% {
    background-color: red;
  }
}
