.content {
  padding-top: 90px;
}

@media only screen and (max-width: 1920px) {
  .content {
    padding-top: 0vw;
  }
}
@media only screen and (max-width: 1580px){
  .content{
    padding-top: 0vw;
  }
}
@media only screen and (max-width: 1200px) {
  .content {
    padding-top: 0vw;
  }
}

@media only screen and (max-width: 900px) {
  .content {
    padding-top: 0vw;
  }
}
@media screen and (max-width: 840px) {
  .content {
    padding-top: 0vw;
  }
}
@media screen and (max-width: 740px) {
  .content {
    padding-top: 7vw;
  }
}
@media screen and (max-width: 550px) {
  .content {
    padding-top: 6vw;
  }
}